<div class="wrapper">
<div class="logo">
	<h1>Sweet Robot Date</h1>
	<h2>international robot dating agency</h2>
</div>
<div class = "img">
	<img src="assets/robot_couple.png" height="420px" width="420px">
</div>
<div class="phrase">
<h1>Choose Your Soul Mate</h1>
<h2>from 300.000+ lonely robot hearts</h2>
</div>

<%= link_to "Register", new_user_path %> |
<%= link_to "Login", login_path %>
</div>